<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"file:///F:/mymap/mybatis-3-config.dtd">
<configuration>
	<!-- 全局setting配置，根据需要添加 -->
	
	<!-- 配置别名 -->
	<typeAliases>
		<!-- 批量扫描别名 -->
		<package name="com.ibeifeng.ssm.pojo"/>
	</typeAliases>
	
	<!-- 配置mapper
	由于使用spring和mybatis的整合包进行mapper扫描，这里不需要配置了。
	必须遵循：mapper.xml和mapper.java文件同名且在一个目录下。
	 -->
	 
	<!-- 只能有一个mappers 用来建立表和类之间的关联 
		mappers可以有多个mapper  mapper里面配置映射文件的位置
	<mappers>
     要用"/"而不是"." 
    <mapper resource="com/ibeifeng/pojo/MyUserMapper.xml"/>
	</mappers>-->
	
	<!-- default属性表示采用哪种配置 
	<environments default="development">
		 配置情况的一种,可以有多个,根据environments 的default来指定使用哪一种 
		<environment id="development">
			配置事务管理 采用JDBC 
			<transactionManager type="JDBC" />	
			<dataSource type="POOLED">
				数据库连接信息 
				<poperty name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/spring" />
				<property name="username" value="root" />
				<property name="password" value="root" />
			</dataSource>
		</environment>
	</environments>-->
</configuration>